@use 'var';
@use 'general';



@mixin tab($defaultColor, $defaultFontSize: 24pt){
    color: $defaultColor;
    font-size: $defaultFontSize;
}


%box{
    background-color: white;
    box-shadow: lightgray 0 0 5px 5px;
    border-radius: 5px;
}
%top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    align-items: center;
    padding: 0 25px; 
}
%icon{
    width: 30px;
    margin-right: 15px;
}



*{
    color: gray;
    text-decoration: none;  
}
body{
    background-color: var.$background-color;
    justify-content: center;
}
.content{
    background-color: var.$content-color;
    max-width: 1800px;
    margin: 100px 50px 100px 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h6{
    font-size: 18px;
    margin: 0;
}
i{
    margin-right: 15px;
    font-size: 24px
}
button{
    background-color: white;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 10px 20px;
}
.boxHead{
    display: flex;
    height: 75px;
    width: auto;
    align-items: center;
    justify-content: space-between
}



.top{
    @extend %box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
    border-bottom: solid 2px lightgrey;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 3px lightgrey solid;
    margin-right: 15px;
}

.nav{
    display: flex;
    padding: 50px 100px 50px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.nav a{
    @include tab($defaultColor: gray);
    display: flex;
    font-size: 20px;
    align-items: center;
}


.dashboardTitle{
    margin-top: 100px;
    margin-left: 100px;
}


.dashboard{
    display: flex;
    max-width: 1200px;
    align-self: center;
    justify-self: center;
    margin: auto;
    flex-wrap: wrap;
}





.leftSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
}
.rightSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.boxRow{
    display: flex;
    flex-direction: row;
}


.overview{
    max-width: 750px;
}
.overviewTop{
    display: flex
}
.overviewItems{
    @extend %box;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.overviewItems a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 20px;
}
.overviewItems img{
    @extend %icon;
}





.totalSalesSection{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    max-width: 400px;
}
.totalSalesSection .boxHead{
    margin-left: 50px;
}
.totalSalesSection span{
    display: flex;
    align-items: center;
}
.teal{
    background-color: #41c1ba;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 10px;
}
.blue{
    background-color: #289dd2;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 10px;
}
.total{
    display: flex;
    flex-direction: column;
    @extend %box;
    height: 300px;
    padding: 0 15px;
    margin: 0;
}
.y-axis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.graphTop{
    display: flex
}
.graph img{
    width: 350px;
    height: 125px;
}
.graphDates{
    display: flex;
    justify-content: space-around;
}



.currentTasks{
    margin-right: 50px;
    flex-grow: 1;
    max-width: 350px
}
.currentItems{
    @extend %box;
    padding-bottom: 20px;
}
.topCurrent{
    @extend %top;
}


.midCurrent .task{
    display: flex;
    flex-direction: column;
}


.task{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    margin: 25px;
}
.taskTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.taskTop>*{
    font-size: 16px;
}
.taskBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.midCurrent .task h6{
    margin-right: 50px;
}
.task div{
    display: flex;
}
.gray{
    background-color: rgb(75, 75, 75);
}
.gray h6{
    color: lightgray;
}
.gray .profile{
    color: lightgray;
}




.calendar{
    max-width: 350px;
    @extend %box;
    flex-grow: 1;
}
.calendarTop{
    @extend %top;
    margin-bottom: 20px;
}
/* .calendar:nth-child(5):nth-child(5){
    background-color: var.$standard-blue;
} */
.row {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px;
}
.row div {
    width: 35px;
    height: 40px;
    margin: 5px;
}



.userVisits{
    margin-left: 50px;
    max-width: 400px;
}
.viewsSection{
    display: flex;
    @extend %box;
    padding: 20px;
}
.viewGraph img{
    width: 200px;
    height: auto;
}



.messageUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %box;
    background-color: var.$standard-blue;
    padding: 20px;
    margin-top: 50px;
}
.messageUser>*{
    color: white;
}
.messageUser button{
    background-color: var.$standard-blue;
    color: white;
    border-color: white;
    margin-top: 50px;
}

