.viewsSection, .calendar, .currentItems, .total, .overviewItems, .top {
  background-color: white;
  box-shadow: lightgray 0 0 5px 5px;
  border-radius: 5px;
}

.overviewItems img, .nav a img {
  width: 30px;
  margin-right: 15px;
}

.showMore, .totalSalesHelp, .taskHelp, .productivity, .accountManagement, .gettingStarted, .WorkingwithDocs, .documentation, .communityForums, .knowledge {
  background-color: white;
  display: flex;
  padding: 20px;
}

.usersettBox i, .knowledgeBox i, .advanceBox i, .getstartBox i, .showMore i, .totalSalesHelp i, .taskHelp i, .productivity i, .accountManagement i, .gettingStarted i, .WorkingwithDocs i, .documentation i, .communityForums i, .knowledge i {
  display: flex;
  font-size: 50px;
  align-items: center;
}

.usersettBox, .knowledgeBox, .advanceBox, .getstartBox {
  background-color: white;
  padding: 80px 40px;
  border-radius: 20px;
  margin: 0 20px;
}

.totalSalesHelp h3, .taskHelp h3, .productivity h3, .accountManagement h3, .gettingStarted h3, .WorkingwithDocs h3, .documentation h3, .communityForums h3, .knowledge h3 {
  color: black;
}

* {
  color: gray;
  text-decoration: none;
}

body {
  background-color: rgb(223, 223, 223);
  justify-content: center;
}

.content {
  background-color: rgb(238, 238, 238);
  max-width: 1600px;
  margin: 100px auto 100px auto;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  margin: 0 100% 0 0;
}

i {
  margin-right: 50px;
  font-size: 24px;
}

button {
  background-color: white;
  border: 1px gray solid;
  border-radius: 3px;
  padding: 10px 20px;
}

.boxHead {
  display: flex;
  height: 75px;
  width: auto;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
  border-bottom: solid 2px lightgrey;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px lightgrey solid;
  margin-right: 15px;
}

.nav {
  display: flex;
  padding: 50px 100px 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.nav a {
  color: gray;
  font-size: 24pt;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.dashboard {
  display: flex;
  margin: 50px 100px 50px 100px;
  flex-direction: column;
}

.topSection {
  display: flex;
  justify-content: baseline;
}

.bottomSection {
  display: flex;
}

.overview {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.overviewTop {
  display: flex;
}

.overviewItems {
  height: 300px;
}

.plans {
  flex-grow: 1;
  margin-left: 50px;
}

.totalSalesSection {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.total {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0 15px;
}

.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.graphTop {
  display: flex;
}

.graph img {
  width: 400px;
  height: 150px;
}

.graphDates {
  display: flex;
  justify-content: space-around;
}

.currentTasks {
  flex-grow: 1;
}

.topCurrent {
  display: flex;
}

.calendarTop {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  font-size: 24px;
}

.row div {
  width: 50px;
  height: 50px;
}

.userVisits {
  flex-grow: 1;
  margin-left: 50px;
}

.viewsSection {
  display: flex;
}

.viewGraph img {
  width: 200px;
  height: auto;
}

.messageUser {
  width: 300px;
}

.SearchItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.searchMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}

.searchMessage h1, h5 {
  color: black;
}

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.backgroundSearch {
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  padding: 15px 10px;
}

.searchInput input {
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0px solid;
}

.searchInput i {
  margin-right: 0;
  margin-left: 20px;
}

.allDocs {
  border: 0px solid;
  cursor: pointer;
  color: black;
}

.searchbutton {
  cursor: pointer;
  border-radius: 30px;
  padding: 0 60px;
  margin-left: 40px;
  background-color: rgb(58, 77, 243);
  color: black;
  font-weight: bold;
}

.popularkey {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.popularkey h5 {
  margin-right: 25px;
  color: black;
}

.popularkey span {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 10px;
  color: black;
}

.floatingBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.knowledge {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
  border-top-left-radius: 20px;
}

.knowledge h3 {
  cursor: pointer;
}

.communityForums {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
}

.communityForums h3 {
  cursor: pointer;
}

.documentation {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
  border-right: none;
  border-top-right-radius: 20px;
}

.documentation h3 {
  cursor: pointer;
}

.WorkingwithDocs {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
}

.WorkingwithDocs h3 {
  cursor: pointer;
}

.gettingStarted {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
}

.gettingStarted h3 {
  cursor: pointer;
}

.accountManagement {
  width: 30%;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
}

.accountManagement h3 {
  cursor: pointer;
}

.productivity {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
}

.productivity h3 {
  cursor: pointer;
}

.taskHelp {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
}

.taskHelp h3 {
  cursor: pointer;
}

.totalSalesHelp {
  width: 30%;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
  border-right: none;
}

.totalSalesHelp h3 {
  cursor: pointer;
}

.showMore {
  width: 95%;
  border: 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.showMore h4 {
  cursor: pointer;
  color: #7605ff;
}

.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.recommended h2 {
  text-align: center;
  font-size: 35px;
  color: black;
}

.recommended span {
  font-size: 20px;
}

.bottomBoxes {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.getstartBox {
  cursor: pointer;
}

.getstartBox h2 {
  color: black;
}

.advanceBox {
  cursor: pointer;
}

.advanceBox h2 {
  color: black;
}

.knowledgeBox {
  cursor: pointer;
}

.knowledgeBox h2 {
  color: black;
}

.usersettBox {
  cursor: pointer;
}

.usersettBox h2 {
  color: black;
}/*# sourceMappingURL=style.css.map */